* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Arial";
  }

a{
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

.top-wrapper {
    padding: 115px 0 100px 0;
    background-image: url(cafe.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 100px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper h2 {
  font-size: 40px;
  letter-spacing: 2px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }

  header {
    height: 65px;
    width: 100%;
    background-color: #f5efd7ad;
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 65px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .side-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 25px 26px;
    transition: all 0.5s;
    /* Gantikan property display ke none */
    display : none;
  }

  .side-icon:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }

  .menu-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 70px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }

  .menu-icon img{
    width: 30%;
    border-radius: 8px;
  }

  .menu2-icon img{
    width: 19%;
    border-radius: 8px;
  }


  .header-menu h2{
    border: 2px solid #333;
  }

  .foods, .desserts, .drinks{
    padding : 5px 20px 340px 20px
  }

  .foods h2, .desserts h2, .drinks h2{
    padding-bottom: 35px;
    margin-bottom: 52px;
    font-size: 80px;
    border-bottom: 2px solid #333;
  }


  .food, .dessert, .drink{
    float : left;
    width: 50%;
  }

  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #000000;
  }

  .price-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #000000;
  }

  .message-wrapper{
    text-align: center;
    padding-top: 20px;
  }

  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 7px #1a7940;
    text-align: center;
    color: white;
  }

  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  .heading2 h3{
    font-weight: normal;
    padding-bottom: 20px;
  }


  footer img {
    width: 65px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 7px;
  }
  
  footer {
    margin-top: 70px;
    padding-bottom: 10px;
    background-color: #f5efd7ad;
  }
